*{
  padding: 0;
  margin:0;
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none;/*火狐*/
  -ms-user-select:none; /*IE10*/
  user-select:none;
}
html,body{
  font-size: 62.5%;
  background: #eee;
}
input,button{
  border:0;
  outline: none;
  background:white;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-user-select:auto; /*webkit浏览器*/
}
input{
  background: #eee;
  border:0!important;
}
ul,li{
  list-style: none;
}
span{
  display: inline-block;
}
.van-field{
  border-radius: 30px;
  height: 3rem;
  line-height: 2rem;
}
.van-cell{
  padding: 6px 16px;
}
/* .van-dropdown-menu{
  width: 50%;
  margin:0 auto;
}
.van-dropdown-menu__bar{
  border-radius: 15px;
  line-height: 3rem;
  border:1px solid #ccc;
  height: 2rem;
  font-size: 1.2rem;
} */
/* .van-dropdown-menu__title{
  font-size: 1.2rem;
  width: 80%;
} */
/* .van-cell__value{
  position: absolute;
  right:1rem;
  top:50%;
  margin-top: -14px;
} */
/* .van-dropdown-item__content{
  background: rgba(0,0,0,0)
}
.van-dropdown-item__option{
  width: 30%;
  margin:0 auto;
  position: relative;
  font-size: 1.2rem;
} */

.van-cell--clickable{
  margin-top: 1rem;
}
.van-tabs--card .van-tabs__nav--card{
  border-radius: 20px;
  height: 2.4rem;
  border-color:#eee!important;
}
.van-tabs--card .van-tabs__nav--card .van-tab--active{
  border-radius: 20px;
}
.van-tabs--card .van-tabs__nav--card .van-tab{
  border:0;
  font-size: 1.2rem;
}
.el-input__inner{
  width: 21.2rem!important;
  height: 3.2rem!important;
  border-radius: 15px!important;
  text-align: center;
  color:black!important;
  background-color: #eee!important;
}
.el-select-dropdown__item{
  font-size: 1.3rem!important;
  text-align: center;
}
.el-select-dropdown{
  z-index: 2100!important;
}
.el-scrollbar .el-scrollbar__bar{
  opacity: 1 !important;
}
input:disabled{
    border: 1px solid #ccc;
    background-color: white;
    color:black;
    opacity:1;
}
input[disabled]{
    border: 1px solid #ccc;
    background-color: white;
    color:black;
    opacity:1;
}
input::-webkit-input-placeholder {  	/* WebKit browsers */
    color: #ccc;
}
input:-moz-placeholder {            	/* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
input::-moz-placeholder {           	/* Mozilla Firefox 19+ */
    color: #ccc;
}
input:-ms-input-placeholder {       	/* Internet Explorer 10+ */
    color: #ccc;
}
